<div class="main-container">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="login__field">
            <fa-icon [icon]="faUser"></fa-icon>
            <input
              type="text"
              name="Email"
              class="login__input"
              formControlName="email"
              placeholder="User name / Email"
            />
            <br />
            <span
              *ngIf="userEmail && userEmail.invalid && userEmail.touched"
              class="signUpError"
            >
              Email is not valid
            </span>
          </div>
          <div class="login__field">
            <fa-icon [icon]="faLock"></fa-icon>
            <input
              type="password"
              name="password"
              class="login__input"
              formControlName="password"
              placeholder="Password"
            />
            <br />
            <span
              *ngIf="password && password.invalid && password.touched"
              class="signUpError"
            >
              Password length must be 4
            </span>
          </div>
          <button
            class="button login__submit"
            type="submit"
            [disabled]="signUpForm.invalid"
            (click)="onSignUp()"
            [disabled]
          > Sign Up
          <span class="button__text/" ></span>
            <!-- <fa-icon class="faPersonThroughWindow" [icon]="faPersonThroughWindow"></fa-icon> -->
          </button>
          <a class="router_navigation" routerLink="/login">
            Already have an account? Login</a
          >
        </form>
        <div class="social-login">
          <h3>log in via</h3>
          <div class="social-icons">
            <a class="icon-color" href="https://www.instagram.com/?hl=en"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a class="icon-color" href="https://www.facebook.com/login/"><fa-icon class="facebookIcon" [icon]="faFacebook"></fa-icon></a>
            <a class="icon-color" href="https://twitter.com/i/flow/login"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a href="https://www.linkedin.com/login"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            <a href="https://www.youtube.com/"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
            <!-- <a href="https://www.instagram.com/?hl=en" target="_blank" class="social-login__icon fab fa-instagram" title="Instagram"></a>
            <a href="https://www.facebook.com/login/" target="_blank" class="social-login__icon fab fa-facebook" title="Facebook"></a>
            <a href="https://twitter.com/i/flow/login" target="_blank" class="social-login__icon fab fa-twitter" title="Twitter"></a> -->
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span
          class="screen__background__shape screen__background__shape4"
        ></span>
        <span
          class="screen__background__shape screen__background__shape3"
        ></span>
        <span
          class="screen__background__shape screen__background__shape2"
        ></span>
        <span
          class="screen__background__shape screen__background__shape1"
        ></span>
      </div>
    </div>
  </div>
</div>
