.row {
  margin-left: 0px;
}

.card {
  border-radius: 20px;
  margin: 25px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 7px;
  padding: 5px 0px 0px 5px;
}

.add-to-cart-btn {
  margin-top: 10px;
}

.card-price {
  margin-bottom: 7px;
  padding: 0px 0px 0px 12px;
  font-weight: 600;
}

.card-rating {
  font-weight: 600;
  padding-left: 135px;
}

.card-body {
  padding: 0px;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px;
  height: 50%;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 7px;
  padding: 0px 0px 0px 5px;
}

.sortStar {
margin-left: 8px;
}



.pizza-btn, .pasta-btn{
  margin: 5px 0px 0px 30px;
}

.btn-pizza {
  margin: 15px 0px 0px 31px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 7px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: .8em;
  font-weight: 500;
  height: 43px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 170px;
  will-change: transform,opacity;
  z-index: 0;
  letter-spacing: 1.5px;
}

.btn-pizza:hover {
  /* background: #F6F9FE; */
  background: aliceblue;
  color: #174ea6;
}

.btn-pizza:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn-pizza:focus {
  outline: none;
  border: 2px solid #4285f4;
}
