<nav>
  <button class="bar-icon" (click)="openMenu()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <div class="logo">OneBite</div>
  <div id="openDrawer" [ngClass]="menuDrawer ? 'open' : ''">
    <div class="cancel-icon" (click)="openMenu()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </div>

    <div class="nav-items">
      <li><a href="#">Home</a></li>
      <li><a href="food">Foods</a></li>
      <li><a href="beverages">Beverages</a></li>
      <li><a href="cakes">Cakes</a></li>
    </div>
  </div>

  <form action="#">
    <input
      type="search"
      class="search-data"
      placeholder="Search for dish"
      required
    />
    <button type="submit">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>
  </form>
  <a *ngIf="!isLoggedIn" class="login" href="/login" (click)="login()">Login</a>
  <a *ngIf="isLoggedIn" class="logout" href="/login" (click)="Logout()"
    >LogOut</a
  >
</nav>
